<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <connectionStrings>
    <add name="cs" connectionString="Server=localhost;Database=TransportPublic;User Id=SA;Password=&lt;daniel123456&gt;;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
        <add key="ParentTableName" value="Garage"/>
        <add key="ChildTableName" value="Bus"/>
        <add key="ParentLabelNames" value="garage_id,location,number_of_trams,number_of_buses,capacity"/>
        <add key="ChildLabelNames" value="bus_id,company,number_of_seats,price,departure,destination,garage_id"/>
        <add key="ParentTypes" value="int,string,int,int,int"/>
        <add key="ChildTypes" value="int,string,int,float,string,string,int"/>
  </appSettings>
</configuration>
