<div class="container">
  <div class="text-center"><h1>Edit Document</h1></div>
  <div style="width:50%;margin:auto">
    <form [formGroup]="addForm" novalidate class="form">
      <input type="hidden" name="id" formControlName="id">
      <div class="row">
        <div class="col-md-6">Author</div>
        <div class="col-md-6"><input type="text" class="form-control" name="author" formControlName="author"></div>
      </div>
      <div class="row">
        <div class="col-md-6">Title</div>
        <div class="col-md-6"><input class="form-control" type="text" name="title" formControlName="title"></div>
      </div>
      <div class="row">
        <div class="col-md-6">Pages</div>
        <div class="col-md-6"><input type="text" class="form-control" name="pages" formControlName="pages"></div>
      </div>
      <div class="row">
        <div class="col-md-6">Types</div>
        <div class="col-md-6"><input type="text" class="form-control" name="types" formControlName="types"></div>
      </div>
      <div class="row">
        <div class="col-md-6">Format</div>
        <div class="col-md-6"><input type="text" class="form-control" name="format" formControlName="format"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success"   (click)="onEdit()">EDIT DOCUMENT</button>
        </div>
      </div>
    </form>
  </div>
</div>
